body {
  background-color: #262626;
  color: #D0D0D0;
}

details {
  font-family: monospace;
  font-size: large;
  color: #ffbf79;
}

a {
  font-family: serif;
}

a:link {
  color: #c7c7c7;
}
a:link:hover {
  text-decoration: underline;
}

a:visited {
  color: #856f8c;
}

li {
  list-style-type: none;
  margin-top: 16px;
  margin-bottom: 8px;
}

.summary {
  color: #c7c7c7;
  margin-left: 2em;
  margin-top: 0.3em;
  font-family: initial;
}

.headline {
  
}

#feedstubs {
  max-width: 800px;
  margin: auto;
}

#timestamp {
  color: #34ad50;
}

#desc {
  margin-left: 0.75em;
  color: #8e8e8e;
  font-size: medium;
}


