a {
  font-family: serif;
}

a:link:hover {
  text-decoration: underline;
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
  margin-top: 16px;
  margin-bottom: 8px;
}

.summary {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.3em;
}

#feedstubs {
  max-width: 600px;
  margin: auto;
}

#timestamp {
  color: #34ad50;
}

#desc {
  margin-left: 0.75em;
  color: #8e8e8e;
}